@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Nunito:wght@300;400&display=swap");
/* font-family: 'Bree Serif', serif;
font-family: 'Nunito', sans-serif; */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  font-size: 10px;
  color: #353434;
  background-color: #fff;
  font-family: "Nunito", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  width: 60vw;
  /* height: 50vh; */
  margin: 5% auto;
}

.common-box {
  width: 95%;

  margin: 0 auto;
  padding: 10px;
}

.displayPasswordBox {
  margin-bottom: 20px;
}

.choosePasswordBox {
}
.website-heading {
  text-align: center;
  font-size: 3.6em;
  font-family: "Bree Serif", serif;
}
#customise-pwd-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 2em;
}
.pwd-rating {
  font-size: 1.6em;
}
.check-box {
  transform: scale(1.9);
  margin-right: 1em;
  display: inline-block;
}
.generated-pwd-style {
  width: 90%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 2.4em;
}
.very-strong {
  color: #358234;
}
.fairly-strong {
  color: #e88f06;
}
.weak {
  color: #ec3909;
}
.icon-size {
  font-size: 26px;
}
.choosePasswordBox h2 {
  font-family: "Bree Serif", serif;
  font-size: 3.2em;
  padding: 0.2em;
  margin: 0;
}

#pwd-length {
  width: 4em;
  height: 2em;
  margin: 8px 0;
  display: inline;
  border: 1px solid #ccc;
  border-radius: 0.4em;
}
/* pwd length style  */

/* RWD DESIGN  */
@media only screen and (max-width: 550px) {
  body {
    font-size: 12px;
  }
  .container {
    width: 99vw;
  }
  #customise-pwd-form {
    flex-direction: column;
    gap: 0.6em;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .generated-pwd-style {
    width: 80%;
    font-size: 1.8em;
  }
  .icon-size {
    font-size: 2em;
  }
  .common-box {
    width: 98%;
  }
  .choosePasswordBox h2 {
    font-size: 2.4em;
  }
}
